{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h3>About Us</h3><br><br><br>
    <p>
        For the MFG-598 course project, I developed an ASU student-focused platform for posting and chatting. The front-end is built using HTML, CSS, js, jquery and bootstrap with Django as the backend framework, and SQLite for database management. During development, I manually added about 40 usernames to the database. Key features of this platform include options for posting, commenting, and sending friend requests.
    </p>
</div>

{% endblock %}